<template>
  <div id="app">
    <el-row>
      <el-col :span="24">
        <div>
          <el-tabs v-model="activeName" @tab-click="handleClick">
            <el-tab-pane label="Agriculture, Food & Health" name="first">
              <el-card class="card">
                <div class="img">我是图片</div>
                <div style="font-size: 16px;color: #ccc;text-align: left;">xxxxxxxx</div>
                <div style="font-size: 16px;color: #ccc;text-align: left;">xxxxxxxx</div>
                <div style="font-size: 16px;color: #000;font-weight: 700;text-align: left;">41.0
                  <span style="color: #ccc;font-weight: 400">/piece</span>
                </div>
                <div style="font-size: 16px;color: #000;font-weight: 700;text-align: left;">1 piece
                  <span style="color: #ccc;font-weight: 400">(MOQ)</span>
                </div>
              </el-card>
              <el-card class="card">
                <div class="img">我是图片</div>
                <div style="font-size: 16px;color: #ccc;text-align: left;">xxxxxxxx</div>
                <div style="font-size: 16px;color: #ccc;text-align: left;">xxxxxxxx</div>
                <div style="font-size: 16px;color: #000;font-weight: 700;text-align: left;">41.0
                  <span style="color: #ccc;font-weight: 400">/piece</span>
                </div>
                <div style="font-size: 16px;color: #000;font-weight: 700;text-align: left;">1 piece
                  <span style="color: #ccc;font-weight: 400">(MOQ)</span>
                </div>
              </el-card>
              <el-card class="card">
                <div class="img">我是图片</div>
                <div style="font-size: 16px;color: #ccc;text-align: left;">xxxxxxxx</div>
                <div style="font-size: 16px;color: #ccc;text-align: left;">xxxxxxxx</div>
                <div style="font-size: 16px;color: #000;font-weight: 700;text-align: left;">41.0
                  <span style="color: #ccc;font-weight: 400">/piece</span>
                </div>
                <div style="font-size: 16px;color: #000;font-weight: 700;text-align: left;">1 piece
                  <span style="color: #ccc;font-weight: 400">(MOQ)</span>
                </div>
              </el-card>
              <el-card class="card">
                <div class="img">我是图片</div>
                <div style="font-size: 16px;color: #ccc;text-align: left;">xxxxxxxx</div>
                <div style="font-size: 16px;color: #ccc;text-align: left;">xxxxxxxx</div>
                <div style="font-size: 16px;color: #000;font-weight: 700;text-align: left;">41.0
                  <span style="color: #ccc;font-weight: 400">/piece</span>
                </div>
                <div style="font-size: 16px;color: #000;font-weight: 700;text-align: left;">1 piece
                  <span style="color: #ccc;font-weight: 400">(MOQ)</span>
                </div>
              </el-card>
              <el-card class="card">
                <div class="img">我是图片</div>
                <div style="font-size: 16px;color: #ccc;text-align: left;">xxxxxxxx</div>
                <div style="font-size: 16px;color: #ccc;text-align: left;">xxxxxxxx</div>
                <div style="font-size: 16px;color: #000;font-weight: 700;text-align: left;">41.0
                  <span style="color: #ccc;font-weight: 400">/piece</span>
                </div>
                <div style="font-size: 16px;color: #000;font-weight: 700;text-align: left;">1 piece
                  <span style="color: #ccc;font-weight: 400">(MOQ)</span>
                </div>
              </el-card>
              <el-card class="card">
                <div class="img">我是图片</div>
                <div style="font-size: 16px;color: #ccc;text-align: left;">xxxxxxxx</div>
                <div style="font-size: 16px;color: #ccc;text-align: left;">xxxxxxxx</div>
                <div style="font-size: 16px;color: #000;font-weight: 700;text-align: left;">41.0
                  <span style="color: #ccc;font-weight: 400">/piece</span>
                </div>
                <div style="font-size: 16px;color: #000;font-weight: 700;text-align: left;">1 piece
                  <span style="color: #ccc;font-weight: 400">(MOQ)</span>
                </div>
              </el-card>
              <el-card class="card">
                <div class="img">我是图片</div>
                <div style="font-size: 16px;color: #ccc;text-align: left;">xxxxxxxx</div>
                <div style="font-size: 16px;color: #ccc;text-align: left;">xxxxxxxx</div>
                <div style="font-size: 16px;color: #000;font-weight: 700;text-align: left;">41.0
                  <span style="color: #ccc;font-weight: 400">/piece</span>
                </div>
                <div style="font-size: 16px;color: #000;font-weight: 700;text-align: left;">1 piece
                  <span style="color: #ccc;font-weight: 400">(MOQ)</span>
                </div>
              </el-card>
              <el-card class="card">
                <div class="img">我是图片</div>
                <div style="font-size: 16px;color: #ccc;text-align: left;">xxxxxxxx</div>
                <div style="font-size: 16px;color: #ccc;text-align: left;">xxxxxxxx</div>
                <div style="font-size: 16px;color: #000;font-weight: 700;text-align: left;">41.0
                  <span style="color: #ccc;font-weight: 400">/piece</span>
                </div>
                <div style="font-size: 16px;color: #000;font-weight: 700;text-align: left;">1 piece
                  <span style="color: #ccc;font-weight: 400">(MOQ)</span>
                </div>
              </el-card>
              <el-card class="card">
                <div class="img">我是图片</div>
                <div style="font-size: 16px;color: #ccc;text-align: left;">xxxxxxxx</div>
                <div style="font-size: 16px;color: #ccc;text-align: left;">xxxxxxxx</div>
                <div style="font-size: 16px;color: #000;font-weight: 700;text-align: left;">41.0
                  <span style="color: #ccc;font-weight: 400">/piece</span>
                </div>
                <div style="font-size: 16px;color: #000;font-weight: 700;text-align: left;">1 piece
                  <span style="color: #ccc;font-weight: 400">(MOQ)</span>
                </div>
              </el-card>
              <el-card class="card">
                <div class="img">我是图片</div>
                <div style="font-size: 16px;color: #ccc;text-align: left;">xxxxxxxx</div>
                <div style="font-size: 16px;color: #ccc;text-align: left;">xxxxxxxx</div>
                <div style="font-size: 16px;color: #000;font-weight: 700;text-align: left;">41.0
                  <span style="color: #ccc;font-weight: 400">/piece</span>
                </div>
                <div style="font-size: 16px;color: #000;font-weight: 700;text-align: left;">1 piece
                  <span style="color: #ccc;font-weight: 400">(MOQ)</span>
                </div>
              </el-card>
            </el-tab-pane>
            <el-tab-pane label="Electricity & Security" name="second">Electricity & Security</el-tab-pane>
            <el-tab-pane label="Electricity & Security" name="third">Electricity & Security</el-tab-pane>
            <el-tab-pane label="Electricity & Security" name="fourth">Electricity & Security</el-tab-pane>
            <el-tab-pane label="Electricity & Security" name="second">Electricity & Security</el-tab-pane>
            <el-tab-pane label="Electricity & Security" name="third">Electricity & Security</el-tab-pane>
            <el-tab-pane label="Electricity & Security" name="fourth">Electricity & Security</el-tab-pane>
            <el-tab-pane label="Electricity & Security" name="second">Electricity & Security</el-tab-pane>
            <el-tab-pane label="Electricity & Security" name="third">Electricity & Security</el-tab-pane>
            <el-tab-pane label="Electricity & Security" name="fourth">Electricity & Security</el-tab-pane>
            <el-tab-pane label="Electricity & Security" name="second">Electricity & Security</el-tab-pane>
            <el-tab-pane label="Electricity & Security" name="third">Electricity & Security</el-tab-pane>
            <el-tab-pane label="Electricity & Security" name="fourth">Electricity & Security</el-tab-pane>
            <el-tab-pane label="Electricity & Security" name="second">Electricity & Security</el-tab-pane>
            <el-tab-pane label="Electricity & Security" name="third">Electricity & Security</el-tab-pane>
            <el-tab-pane label="Electricity & Security" name="fourth">Electricity & Security</el-tab-pane>
            <el-tab-pane label="Electricity & Security" name="second">Electricity & Security</el-tab-pane>
            <el-tab-pane label="Electricity & Security" name="third">Electricity & Security</el-tab-pane>
            <el-tab-pane label="Electricity & Security" name="fourth">Electricity & Security</el-tab-pane>
          </el-tabs>
        </div>
      </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  name: 'App',
  data() {
    return {
      activeName: 'first'
    };
  },
  methods: {
    handleClick(tab, event) {
      console.log(tab, event);
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.img {
  width: 100%;
  height: 150px;
}

.el-tab-pane {
  /* display: flex; */
}

.card {
  width: calc(20% - 12px);
  margin-right: 10px;
  float: left;
}
</style>
